<script>
export default {
	ready () {
		this.loadImages()
	},
	data () {
		return {
			images: []
		}
	},
	methods: {
		loadImages () {
			const query = `
			{
				mediaNodes {
					edges {
						node {
							title
							id
							src
							usersByOwner {
								id
								name
							}
						}
					}
				}
			}
			`
			this.$http.post('/graphql', { query })
				.then(response => {
					this.$set('images', response.data.data.mediaNodes.edges)
					console.log('resposne', this.images)
				}, err => {
					console.log('err', err)
				})
		},
		thumbUrl (path) {
			return 'http://s3preview-demo.herokuapp.com/' + path + '?t=large'
		}
	}
}
</script>

<template lang='jade'>
	script.
		console.log('do as I say')
	.row
		.col-xs-6.col-md-3.images(v-if='images.length > 0' v-for='m  in images')
			a.thumbnail(href='#')
				img(:src='thumbUrl(m.node.src)')
				span {{m.node.title}}
</template>
