<script>
import Vue from 'vue'
import store from '../stores/store'
export default {
	methods: {
		setLang (lang) {
			Vue.config.lang = lang
			console.log('setlang called')
			console.log('ready and stuff')
			this.$http.post('/graphql', {
				query: `{
  usersNodes {
    edges {
      node {
        name
        id
      }
    }
  }
}
`
			})
			.then(response => {
				console.log('response: ', response)
			},
			err => {
				console.log('error:', err)
			})
		},
		notLang (lang) {
			if (Vue.config.lang !== lang) {
				return true
			}
			return false
		},
		openUpload: () => store.openUpload(),
		closeUpload: () => store.closeUpload
	}
}
</script>


<template lang="jade" v-show="store">
	nav.navbar.navbar-default.navbar-static-top
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed
			a.navbar-brand(href='#') Als-Bum
			.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-left
					li.active
						a(href='#') {{ $t("menu.home") }}
					li
						a(href='#' v-link="'/foo'") Foo
					li(v-if="notLang('is')")
						a(href='#' @click="setLang('is')") Íslenska
					li(v-if="notLang('da')")
						a(href='#' @click="setLang('da')") Dansk
					li(v-if="notLang('en')")
						a(href='#' @click="setLang('en')") English

				ul.nav.navbar-nav.navbar-right
					li
						a(href='#' @click='openUpload') {{ $t("menu.upload") }}
					li
						a(href='#') {{ $t("menu.login") }}
</template>


<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
	<ul class="nav navbar-nav">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
	</ul>
</div>
