<script>
import store from '../stores/store'

export default {
	data () {
		return {
			store: store.state,
			image: ''
		}
	},
	methods: {
		closeUpload () {
			store.closeUpload()
		},
		onFileChange (e) {
			var files = e.target.files || e.dataTransfer.files
			if (!files.length) {
				return
			}
			this.createImage(files[0])
		},
		createImage (file) {
			// let image = new Image()
			let reader = new FileReader()
			let vm = this

			reader.onload = (e) => {
				vm.image = e.target.result
			}
			reader.readAsDataURL(file)
		},
		removeImage: function (e) {
			this.image = ''
		}
	},
	computed: {
		show2 () { return true },
		show () {
			return this.store.uploadOpen
		}
	}
}
</script>

<template lang="jade" >
	.upload-dialog(v-if="show" transition="backdrop")
		.modal-backdrop
			.modal.show(tabindex="-1" role="dialog")
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type="button" aria-label="Close" @click="closeUpload")
								span(aria-hidden="true") &times;
							h4.modal-title Modal Title
						.modal-body
							p One fine body
							input(type='file' @change='onFileChange')
							img.thumbnail(:src='image' style='width: 200px;')
						.modal-footer
							button.btn.btn-default(@click="closeUpload") Close
							button.btn.btn-primary Save changes
</template>

<style>
/*
	.modal-backdrop {
		background: rgba(0, 0, 0, 0.4);
	}

	.backdrop-transition {
		display: block;
		background: rgba(0, 0, 0, 0.4);
		transition: all .10s ease;
	}

	.backdrop-enter {
		background: rgba(0, 0, 0, 1);
	}

	.background-leave {
		display: none;
		background: rgba(0, 0, 0, 0);
	}
*/
	/* always present */
	.expand-transition {
		border: 1px solid #bb0000;
	  transition: all .5s ease;
	  opacity: 1;
	}

	/* .expand-enter defines the starting state for entering */
	/* .expand-leave defines the ending state for leaving */
	.expand-enter {
	  opacity: 0.5;
	}
	.expand-leave {
	  opacity: 0;
	}

</style>
