<script>
import Navbar from './components/Navbar'
import ImageList from './components/ImageList'
import UploadDialog from './components/UploadDialog'
import store from './stores/store'

export default {
	components: {
		Navbar,
		ImageList,
		UploadDialog
	},
	data () {
		return {
			store: store.state
		}
	}
}
</script>

<style>
</style>

<template lang='jade'>
	#app
		navbar
		upload-dialog
		.container
			h1 {{ $t("message.greeting") }}
			.links
					a(v-link="'foo'") Da link
					a(v-link="'foo'") Da link
			router-view(transition transition-mode='in-out')
			image-list
</template>
